*{

margin: 10px;
padding: 8px; 
box-sizing : border-box;
}

.generoDetalle{
    color: aliceblue;
    flex-direction: column;
    justify-content: space-around;
}

.nombreDelGenero{

    color: white;

}














