*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    .opciones1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    }   
    ul,li,a {
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    color: white;
    background-color: black;
    }
    .columna{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .todo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
    }
    
    footer{
    background-color: black;
    color: white;
    }
    a:hover{
    text-decoration: underline;
    }
    .columna div img a:hover{
    text-decoration: underline;

}
    
body {
    background-color: black;
}
.todog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.equipo{
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    
    
}

@media (min-width: 320px) and (max-width: 480px){

    .encabezado{

}
    
    .logo{
        width: 100%;
}
    
    .columna{
        flex-direction: column;
}
    
    .logo{
        font-size: 40px;
}
 


