*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 30px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    color
}


    